In [1]:
!pip install yfinance -qqq

In [2]:
import yfinance as yf
data = yf.download(["PLTR"], start = "2025-01-01")

/var/folders/lq/789xtspj42b7fzl0zns5n46w0000gn/T/ipykernel_14326/2752926208.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(["PLTR"], start = "2025-01-01")
[*********************100%***********************]  1 of 1 completed

In [3]:
data.head()

Price           Close       High        Low       Open     Volume
Ticker           PLTR       PLTR       PLTR       PLTR       PLTR
Date
2025-01-02  75.190002  76.529999  72.419998  76.199997   72217200
2025-01-03  79.889999  79.980003  75.190002  75.389999   62415000
2025-01-06  75.919998  80.059998  74.610001  78.690002  105619500
2025-01-07  69.989998  75.389999  69.750000  75.199997   91727300
2025-01-08  68.230003  69.529999  66.510002  68.120003   91349500

In [4]:
data = yf.download(["AMPX"])

/var/folders/lq/789xtspj42b7fzl0zns5n46w0000gn/T/ipykernel_14326/997027815.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(["AMPX"])
[*********************100%***********************]  1 of 1 completed

In [5]:
data.head()

Price      Close   High    Low  Open   Volume
Ticker      AMPX   AMPX   AMPX  AMPX     AMPX
Date
2025-08-18  7.21  7.310  6.855  7.04  4082700
2025-08-19  6.74  7.205  6.680  7.19  4569800
2025-08-20  6.74  6.827  6.363  6.62  4926300
2025-08-21  6.79  6.950  6.551  6.62  3525900
2025-08-22  7.17  7.310  6.700  6.71  5974600

In [6]:
data.index

DatetimeIndex(['2025-08-18', '2025-08-19', '2025-08-20', '2025-08-21',
               '2025-08-22', '2025-08-25', '2025-08-26', '2025-08-27',
               '2025-08-28', '2025-08-29', '2025-09-02', '2025-09-03',
               '2025-09-04', '2025-09-05', '2025-09-08', '2025-09-09',
               '2025-09-10', '2025-09-11', '2025-09-12', '2025-09-15',
               '2025-09-16', '2025-09-17'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [8]:
data.columns = data.columns.droplevel(1)

In [9]:
data.head()

Price       Close   High    Low  Open   Volume
Date
2025-08-18   7.21  7.310  6.855  7.04  4082700
2025-08-19   6.74  7.205  6.680  7.19  4569800
2025-08-20   6.74  6.827  6.363  6.62  4926300
2025-08-21   6.79  6.950  6.551  6.62  3525900
2025-08-22   7.17  7.310  6.700  6.71  5974600

In [10]:
data.to_csv("ampx.csv")

In [12]:
!head -3 ampx.csv

Date,Close,High,Low,Open,Volume
2025-08-18,7.210000038146973,7.309999942779541,6.855000019073486,7.039999961853027,4082700
2025-08-19,6.739999771118164,7.204999923706055,6.679999828338623,7.190000057220459,4569800